.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-nav-link-list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav-link-item a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.footer-nav-link-item a:hover {
    color: var(--link-color);
}

.footer-credits-text {
    color: var(--tertiary-color);
    font-size: 12px;
}